* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
}
.btn {
    margin: 30px auto;
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    background-color: indigo;
    color: azure;
    box-shadow: 10px 5px 5px blueviolet;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-icon {
    width: 20px;
    padding: 0 20px;
}

.inactive {
    display: none;
}